* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;}

subtitle {
  font-size: 50px;
  color: black;
  text-decoration-line: underline;
  position: relative;
  display: flex;
  margin: 0px -3px;
  margin-top: 75px;
  justify-content: space-around;
  flex-direction: row;
}


.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  left: 0px;
  right: 0;
  top: -5px;
}

.topnav a {
	float: left;
  color: white;
  text-align: center;
  padding: 10px 30px;
  width: 33.3333% ;
  font-size: 16px;
  border: 3px solid;
  
}

.topnav a:hover {
  background-color: rgb(158, 158, 158);
  color: black;
}

.card {
  margin-left: 30%;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: lightgray;
  overflow: hidden;
  border-radius: 90px;
  width: 40%;
  display: flex;
  padding: 50px 55px;
  font-size: 19px;
  flex-direction: column;
  align-items: center;
}

.card:hover{
background-color: rgba(158, 158, 158, 0.88);
}

.id{
  margin-top: 25px;
  
}

ul {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  overflow: hidden;

}

li{
  padding: 30px;
}

.svg-inline--fa{
  display: var(--fa-display,inline-block);
  height: 2em;
  vertical-align: -0.125em;
  color: black;
}

.svg-inline--fa:hover{
  color: rgb(27, 104, 247);
}

.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile-image {
  border-radius: 37%;
  height: 215px;
}

footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
}

.navbar {
  overflow: hidden;
  background-color: black;
  display: inline-flex;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 10px 30px;
  width: 33.3333% ;
  font-size: 13px;
  border: 1px solid;
  
}

.navbar a:hover {
  background-color: rgb(158, 158, 158);
  color: black;
}

.languages-sentence{
  background-color: rgb(158, 158, 158);
  font-size: 13px;
}